@font-face {
    font-family: 'ambleregular';
    src: url('Amble-Regular-webfont.eot');
    src: url('Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Amble-Regular-webfont.woff2') format('woff2'),
         url('Amble-Regular-webfont.woff') format('woff'),
         url('Amble-Regular-webfont.ttf') format('truetype'),
         url('Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px maroon outset;
    border-radius: 6px;
    background-color: grey;
    box-shadow: 6px 6px 6px grey;
}

#lisere
{
    border-radius: 10px;
    background-color: maroon;
    float: left;
    width: 50px;
    height: 400px;
}

body
{
    background: url(Images/background2.png);
}

header
{
    font-family: 'ambleregular', Arial, serif;
}

section
{
    display: flex;
}

#experience, #competences, #formation, #interets
{
    width: 25%;
    font-family: 'ambleregular', Arial, serif;
}

h1
{
    font-family: 'ambleregular', Arial, serif;
    color: maroon;
    padding-left: 10px;
}

#formation p
{
    padding-left: 10px;
}

ul
{
    list-style: circle;
}

@media all and (max-width: 1024px)
{
    #lisere
    {
        display: none;
    }

    section
    {
        flex-direction: column;
    }

    #experience, #competences, #formation
    {
        width: auto;
    }
}
